/* Common Shared Styles */

body {
  font-family: "Open Sans", sans-serif;
}

/* nav related css */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

  .mary {
    font-weight: 800;
    font-size: 45px;
    color: #181818;
  }
  
 .span {
    color: #fd6e0a;
  }


nav > ul  {
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747
}

.btn-primary{
    border-radius: 5px;
    border: 0px;
    background: #FD6E0A;
    color: white;
    font-size: 20px ;
    font-weight: 700;
    padding: 18px 35px;
 
}
  